* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigasi ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.navigasi li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.navigasi li a:hover {
    background-color: wheat;
}

body {
    background-color: bisque; 
    background-size: cover;
    background-attachment: scroll;
    /* Untuk mengganti warna background */
}

h1 {
    color : #020F00;
    text-align: center;
    padding: 10px;
}

p {
    font-size : 20px;
}

/* Make footer with copyright Ali Zulfikar center bottom fixed */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}