<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <header>
  </header>
  <body>
    <div class="container">
      <h1>Hello, World</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
        accusantium dolores eligendi debitis commodi doloribus, quas quidem
        distinctio vitae unde temporibus eum, officiis, molestiae obcaecati
        incidunt. Eaque cumque dolorum maiores. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Numquam at earum maxime labore modi,
        commodi unde nam dolore qui porro officia doloribus doloremque expedita
        et quia accusantium, pariatur quod quo. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Sint quaerat error a porro. Facere, nemo
        officia eaque sed maiores quia vitae doloribus incidunt repudiandae
        minus atque, similique, quos tempora mollitia.
      </p>
    </div>

    <div class="form-page">
        <h1> Login Page </h1>
        <form>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit"> Login </button>
        </form>
    </div>
  </body>
</html>
