* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container {
    width: 50%;
    height: 200px;
    overflow: auto;
    background-color: aquamarine;
}

.container h1 {
    background-color: yellowgreen;
    width : 100%;
    text-align: center;
}

.header li {
    display: inline;
    
}

.container p {
    text-align: justify;
    margin: 0 15px;
}

/* Class form-page center for login */
.form-page {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    text-align: center;
    border-radius: 10px;
}

/* Form page hover animation 0.5s change color */
.form-page:hover {
    background-color: aqua;
    transition: 0.5s;
}

.form-page input {
    /* Center input */
    margin: 0 auto;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    display: block;
}

/* Login button after input */
.form-page button {
    width: 45%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
    display: block;
    background-color: wheat;
    color: black;
    font-weight: bold;
    /* Cursor */
    cursor: pointer;
}

.form-page button:hover {
    background-color: thistle;
    transition: 0.5s;
}